.popup__submit-button {
  width: 100%;
  min-height: 50px;
  margin-top: 18px;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.popup__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .popup__submit-button {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
