.header {
  padding-top: 45px;
  margin: 0 auto;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
  }
}
